.case {
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        @include ratio-4-3;
        margin-bottom: 2rem;
    }
}

.case-caption {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.15), 0 0 10px rgba(255, 255, 255, 0.075);
    padding: 2vmax 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: 0.2s all ease-in;
    opacity: 0.9;

    @include media-breakpoint-up(lg) {
        padding: 3vmax;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    // @include media-breakpoint-down(md) {
    //     min-height: 300px;
    // }

    &:hover {
        @include media-breakpoint-up(lg) {
            background-color: rgba(255, 255, 255, 0.5);
            opacity: 0.95;

            .case-dark & {
                // color: #fff;
                background-color: rgba(0, 0, 0, 0.7);
            }

            .reveal {
                opacity: 1;
            }
        }
    }

    .case-dark & {
        @include media-breakpoint-up(lg) {
            color: #fff;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.075);
            // background-color: rgba(0, 0, 0, 0.7);
            opacity: 0.8;
            // background-color: rgba(0, 0, 0, 0);
        }
    }

    @include media-breakpoint-down(md) {
        h1, h2, h3, h4, h5, h6 {
            font-size: ($font-size-base * 1.8);
            line-height: 1.2;
            margin-bottom: 1.2rem;
        }
    }

    .reveal {
        transition: 0.2s all ease-in;

        @include media-breakpoint-up(lg) {
            opacity: 0;
        }
    }
}

.case-image {
    @include ratio-16-9;
    width: 100%;
    height: 100%;
    // opacity: .4;
    // transition: background-image .5s ease-in-out;
    // animation: fadeInImage 1.5s;

    @include media-breakpoint-up(md) {
        @include ratio-4-3;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        left: 0;
    }
}
