// Footer
// --------------------------------------------------

.footer {
    font-size: 13px;
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;

    @include media-breakpoint-up(sm) {
        padding-top: $spacing-lg;
        padding-bottom: $spacing-lg;
    }
}