// Popovers
// --------------------------------------------------

.popover {
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.popover-content {
    padding: $spacing-sm;

    hr {
        margin-left: -$spacing-sm;
        margin-right: -$spacing-sm;
    }
}