// Select 2
// --------------------------------------------------

$sbuf-tag-color:        $label-color !default;
$sbuf-tag-bg:           $brand-success !default;
$sbuf-role-color:       $label-color !default;
$sbuf-role-bg:          $gray-darker !default;
$sbuf-category-color:   $label-color !default;
$sbuf-category-bg:      $brand-warning !default;

.select2-container {
    height: auto;
    padding: 0;

    .tags + & {
        .select2-selection__choice {
            color: $sbuf-tag-color !important;
            border: 1px solid $sbuf-tag-bg !important;
            background-color: $sbuf-tag-bg !important;
        }
    }

    .roles + & {
        .select2-selection__choice {
            color: $sbuf-role-color !important;
            border: 1px solid $sbuf-role-bg !important;
            background-color: $sbuf-role-bg !important;
        }
    }

    .categories + & {
        .select2-selection__choice {
            color: $sbuf-category-color !important;
            border: 1px solid $sbuf-category-bg !important;
            background-color: $sbuf-category-bg !important;
        }
    }

    .select2-selection__choice {
        font-size: $font-size-sm !important;
        background-image: none !important;
        box-shadow: none !important;
        border-radius: 2px !important;

        &.select2-search-choice-focus {
            border: 1px solid $gray !important;
        }
    }
}

.select2-choices {
    border-color: $input-border !important;
    border-radius: $input-border-radius;
    box-shadow: none !important;
    background-image: none !important;

    .select2-container-active & {
        border-color: $brand-primary !important;
    }
}

.select2-search-choice-close {
    background-image: url('/lib/select2-3.4.8/select2.png');
}

.select2-selection__choice__remove {
    color: $neutral-70 !important;
}
