// Footer
// --------------------------------------------------

.footer {
    font-size: 13px;
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;

    @media (min-width: $screen-sm) {
        padding-top: $spacing-large;
        padding-bottom: $spacing-large;
    }
}