// Forms
// --------------------------------------------------

.form-control {
    @include box-shadow(none);
    @include transition(200ms all ease);
    font-weight: 500;
    border-width: 2px;
    padding-right: $spacing-xxsmall;
    padding-left: $spacing-xxsmall;
    background-color: rgba(0, 0, 0, 0.03);
    border: 0;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    appearance: none; // Unfortunately removes arrows from select.

    &:hover {
        background-color: $neutral-10;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }

    &:focus {
        @include box-shadow(none); // Remove inner shadow from Bootstrap.
        background-color: $neutral-10;
        box-shadow: 0 2px 0 $brand-primary;
    }

    /*select& {
        &::-ms-expand {
            display: none; // Fix for IE10+
        }
    }*/
}

fieldset {
    & + & {
        margin-top: $spacing-large;

        @media (min-width: $screen-md) {
            margin-top: $spacing-xxlarge;
        }
    }
}

.form-control-datepicker {
    padding-right: 33px;
    background-image: url('#{$image-path}icon-sprite-2x.png');
    background-repeat: no-repeat;
    background-position: right 8px;
    background-size: 150px 150px;
}

.form-control-select {
    line-height: 1.2;
    padding-right: 33px;
    background-image: url('#{$image-path}icon-sprite-2x.png');
    background-repeat: no-repeat;
    background-position: right -25px;
    background-size: 150px 150px;

    &.input-sm {
        background-position: right -27px;
        line-height: 1.2;
    }

    &.input-lg {
        background-position: right -20px;
        line-height: 1;
    }
}

.form-group {
    label {
        display: block;
    }

    .form-lg & {
        margin-bottom: 30px;
    }
}

.label-floating {
    font-size: $font-size-xxsmall;
    text-transform: uppercase;
    color: $neutral-50;
    margin-bottom: $spacing-xxxsmall;
    display: block;
}

.help-block {
    font-family: $font-family-sans-serif;
    font-size: $font-size-xsmall;
    font-weight: 400;
    text-transform: none;
    color: $neutral-50;

    ul {
        margin: 0;
        padding-left: $spacing-small;
    }
}

.help-block-alert {
    padding-top: $spacing-xxxsmall;
    padding-bottom: $spacing-xxxsmall;
    padding-left: $spacing-xxsmall;
    padding-right: $spacing-xxsmall;
    background-color: lighten($brand-tertiary, 20%);
}



// Custom inputs
// --------------------------------------------------

.custom-input {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;

    input {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
    }
}

.custom-input-btn {
    font-weight: 400;
    cursor: pointer;

    &.btn {
        padding-left: $spacing-xsmall;
        padding-right: $spacing-xsmall;
    }

    &.btn:hover,
    &.btn:focus,
    input:focus + &.btn,
    input:checked + &.btn,
    input:focus + .custom-input &.btn,
    input:checked + .custom-input &.btn {
        @extend .btn-primary;
        border-color: transparent;
    }

    &.btn:focus,
    input:focus + &.btn,
    input:focus + .custom-input &.btn {
        @include focus-default;
    }
}

// Radio
.custom-radio {
    &:before {
        content: '';
        background-color: $neutral-20;
        border-radius: 100px;
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: $spacing-xxsmall;
        position: relative;
        top: 0.1em;
        transition: background-color, border-color, 0.1s linear;
    }

    input:checked ~ &:before,
    input:checked ~ .custom-input &:before {
        background-color: #fff;
        border: 0.35em solid $brand-primary;
    }

    input:focus ~ &:before,
    input:focus ~ .custom-input &:before {
        @include focus-default;
    }

    &.btn {
        &:before {
            background-color: #fff;
        }

        input:checked + &:before {
            background-color: #222;
            border: 0.3em solid #fff;
        }
    }
}

// Checkbox
.custom-checkbox {
    &:before {
        @include icon-checkbox;
        font-size: 24px;
        color: $neutral-20;
        margin-right: $spacing-xxsmall;
        position: relative;
        top: $spacing-xxsmall;
    }

    input:checked ~ &:before,
    input:checked ~ .custom-input &:before {
        @include icon-checkbox-checked;
        color: $brand-primary;
    }

    input:focus ~ &:before,
    input:focus ~ .custom-input &:before {
        @include focus-default;
        outline-offset: -2px;
    }

    &.btn {
        &:before {
            /*color: #fff;*/
            color: $text-color;
        }

        input:checked + &:before,
        input:checked + .custom-input &:before, {
            color: #fff;
        }
    }
}


// Conditional form container
// --------------------------------------------------

.ui-toggle {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.form-conditional-content {
    max-height: 0;
    display: block;
    visibility: hidden; // Hidden fields will be ignored by tab index.
    transition: max-height 500ms ease, 1000ms background-color 300ms;

    .ui-toggle ~ & {
        background-color: lighten($brand-tertiary, 10%); //#e6f305;
    }

    .ui-toggle:checked ~ & {
        max-height: 1000px;
        background-color: #fff;
        visibility: visible; // Visible fields will be respected by tab index.
    }
}

// Spinner
.has-spinner {
    background-image: url('#{$image-path}icon-spinner.svg') !important;
    background-position: 15px !important;
    cursor: progress;
}

.form-group {
    position: relative;

    .validationMessage {
        @media (min-width: $screen-md) {
            position: absolute;
            top: 12px; // -15px;
            right: 0;
            left: 0;
            background-color: transparent;
            text-align: right;
            border-width: 0 0 1px 0;
            cursor: text;
            padding: 10px $spacing-xxsmall 9px;
            border-style: solid;
            border-color: $brand-danger;
        }
    }

    .input-sm + .validationMessage {
        @media (min-width: $screen-md) {
            padding: 7px $spacing-xxsmall;
        }
    }

    .input-lg + .validationMessage {
        @media (min-width: $screen-md) {
            padding: 15px $spacing-xxsmall;
        }
    }
}

.validationMessage {
    font-size: $font-size-xsmall;
    color: $brand-danger;
    margin: $spacing-xxsmall 0 $spacing-xsmall;
    display: inline-block;

    &:before {
        @include exclamation-triangle;
        margin-right: $spacing-xxsmall;
    }
}

input-group {
    .form-control,
    .btn {
        border-radius: none;
    }
}
