<div class="dropdown account-info-dropdown">
    <a class="dropdown-toggle account-info-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons md-48 text-reverse">account_circle</i>
        <span class="sr-only" data-bind="text: Name"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-label="Kontouppgifter">
        <div class="account-info">
            <p class="h5">
                <span data-bind="text: Name"></span>
                <br>
                <small data-bind="text: Username"></small>
            </p>
            <a href="/layouts/account-detail.html" class="btn btn-primary">Mitt konto</a>
            &nbsp;&nbsp;&nbsp;<a href="/Account/SignOut">Logga ut</a>
        </div>
    </div>
