<div class="panel-heading">
    <h3 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" href="#accordion-user-mailreceiver-body">
            <i class="fa fa-chevron-down"></i>Utskick
        </a>
    </h3>
</div>
<div id="accordion-user-mailreceiver-body" class="panel-collapse collapse in">

    <div class="panel-body">

        <div class="row form-group">

            <div class="col-sm-8">

                <label for="mailreceiver-ex">Antal ex</label>
                <input type="text" id="userMailingCopies" data-bind="value: NumberOfCopies" class="form-control growl-log">

            </div>
        </div>
    </div>
</div>
