/*// Vendor
// --------------------------------------------------

// Bootstrap

// Core variables and mixins
@import "vendor/bootstrap-3.3.5/variables.less";
@import "vendor/bootstrap-3.3.5/mixins.less";

// Reset
@import "vendor/bootstrap-3.3.5/normalize.less";
@import "vendor/bootstrap-3.3.5/print.less";

// Core CSS
@import "vendor/bootstrap-3.3.5/scaffolding.less";
@import "vendor/bootstrap-3.3.5/type.less";
@import "vendor/bootstrap-3.3.5/code.less";
@import "vendor/bootstrap-3.3.5/grid.less";
@import "vendor/bootstrap-3.3.5/tables.less";
@import "vendor/bootstrap-3.3.5/forms.less";
@import "vendor/bootstrap-3.3.5/buttons.less";

// Components
@import "vendor/bootstrap-3.3.5/component-animations.less";
// @import "vendor/bootstrap-3.3.5/glyphicons.less";
@import "vendor/bootstrap-3.3.5/dropdowns.less";
@import "vendor/bootstrap-3.3.5/button-groups.less";
@import "vendor/bootstrap-3.3.5/input-groups.less";
@import "vendor/bootstrap-3.3.5/navs.less";
@import "vendor/bootstrap-3.3.5/navbar.less";
@import "vendor/bootstrap-3.3.5/breadcrumbs.less";
@import "vendor/bootstrap-3.3.5/pagination.less";
// @import "vendor/bootstrap-3.3.5/pager.less";
@import "vendor/bootstrap-3.3.5/labels.less";
@import "vendor/bootstrap-3.3.5/badges.less";
// @import "vendor/bootstrap-3.3.5/jumbotron.less";
@import "vendor/bootstrap-3.3.5/thumbnails.less";
@import "vendor/bootstrap-3.3.5/alerts.less";
// @import "vendor/bootstrap-3.3.5/progress-bars.less";
@import "vendor/bootstrap-3.3.5/media.less";
@import "vendor/bootstrap-3.3.5/list-group.less";
@import "vendor/bootstrap-3.3.5/panels.less";
@import "vendor/bootstrap-3.3.5/wells.less";
@import "vendor/bootstrap-3.3.5/close.less";

// Components w/ JavaScript
@import "vendor/bootstrap-3.3.5/modals.less";
@import "vendor/bootstrap-3.3.5/tooltip.less";
@import "vendor/bootstrap-3.3.5/popovers.less";
// @import "vendor/bootstrap-3.3.5/carousel.less";

// Utility classes
@import "vendor/bootstrap-3.3.5/utilities.less";
@import "vendor/bootstrap-3.3.5/responsive-utilities.less";*/





/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "sbuf/_variables.scss";
/*@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";*/
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
/*@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";*/

// Core CSS
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
/*@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";*/
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
/*@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";*/
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
/*@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel";*/

// Utility classes
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";


















































/*!
 * SBUF
 */

@import "sbuf/mixins";
@import "sbuf/accessibility";
@import "sbuf/animation";
@import "sbuf/icons";
// Mixins above must come first

@import "sbuf/brand";
@import "sbuf/buttons";
@import "sbuf/card";
@import "sbuf/case-affiliation";
@import "sbuf/collapse";
@import "sbuf/footer";
@import "sbuf/forms";
@import "sbuf/grid";
@import "sbuf/header";
@import "sbuf/list-tables";
@import "sbuf/media";
@import "sbuf/messages";
@import "sbuf/modals";
@import "sbuf/nav-local";
@import "sbuf/nav-main";
@import "sbuf/popovers";
@import "sbuf/select2";
@import "sbuf/typography";
// @import "sbuf/nav-main";
// @import "sbuf/section-content";
// @import "sbuf/buttons-animated";
// @import "sbuf/pills";
// @import "sbuf/nav-submenu";
// @import "sbuf/labels";
// @import "sbuf/collapse";
// @import "sbuf/meta-info";
// @import "sbuf/summary-lists";
// @import "sbuf/pagination";
@import "sbuf/panels";
// @import "sbuf/progress-bars";
// @import "sbuf/tables";
// @import "sbuf/local-scroll";
// @import "sbuf/modals";
// @import "sbuf/tooltips";
// @import "sbuf/dropdowns";
// @import "sbuf/popovers";
// @import "sbuf/alerts";
// @import "sbuf/users-list";
// @import "sbuf/case-affiliation";
// @import "sbuf/nav-context";
// @import "sbuf/add-tag-container";
// @import "sbuf/font-awesome";
// @import "sbuf/select2";
// @import "sbuf/loading";
// @import "sbuf/validation";
@import "sbuf/material-icons";


/*!
 * Refactoring needed! Theme migration styles are being migrated from Less to Sass files
 */

@import "sbuf/theme-migration";


/*!
 * Working
 */

img {
    @extend .img-responsive;
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.section-login {
    min-height: 100vh;
    position: relative;
    background-color: darken($brand-secondary, 40%);

    .login-content {
        color: #fff;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .login-background {
        @include bg-img-cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('#{$image-path}kiruna.jpg');
        background-attachment: fixed;
        opacity: 0.4;
        transition: background-image 500ms ease-in-out;
        animation: fadeInBgImage 1500ms;
    }
}

.sidebar {
    &.is_stuck {
        z-index: 1;
    }
}

.account-info {
    padding: $spacing-base;
}

.btn-account-info {
    border-bottom: 0;
}

.profile-img {
    @include bg-img-cover;
    @include vertical-align-parent;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 500px;
    cursor: pointer;

    .add-img {
        @include transition;
        @include vertical-align;
        color: rgba(255, 255, 255, 0.7);
    }

    &:hover {
        .add-img {
            color: rgba(255, 255, 255, 0.9);
        }
    }
}

.list-overview-applications,
.list-overview-ongoing,
.list-overview-closed {
    .list-head {
        @include transition(border 300ms ease);
        display: none;
        border-bottom: 1px solid transparent;

        @media (min-width: $screen-sm) {
            display: flex;
        }

        &.is_stuck {
            background-color: #fff;
            border-bottom-color: $neutral-12;
            z-index: 1;
        }
    }

    .list-row {
        margin-bottom: $spacing-xxsmall;
        background-color: $neutral-5;

        @media (min-width: $screen-xs) {
            background-color: transparent;
        }
    }

    .project-title {
        font-weight: 600;
        border-bottom: 0;

        @media (min-width: $screen-sm) {
            font-size: 16px;
        }
    }

    .applicant,
    .project-leader {
        font-size: $font-size-small;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
    }

    .label-floating {
        @media (min-width: $screen-sm) {
            display: none;
        }
    }
}

// Events

.list-events {
    .list-row {
        margin-bottom: 2px;
    }
}

.event-title {
    font-weight: 600;

    .bg-primary &,
    .bg-secondary &,
    .bg-inverse &,
    .bg-success &,
    .bg-info &,
    .bg-danger & {
        color: #fff;
    }
}

.event-description {
    font-size: $font-size-small;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);

    .bg-primary &,
    .bg-secondary &,
    .bg-inverse &,
    .bg-success &,
    .bg-info &,
    .bg-danger & {
        font-weight: 500;
        color: rgba(255, 255, 255, 0.8);
    }
}

.event-date {
    font-size: $font-size-xsmall;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);

    @media (min-width: $screen-xs) {
        text-align: right;
    }

    @media (min-width: $screen-sm) {
        font-size: $font-size-small;
    }

    .bg-primary &,
    .bg-secondary &,
    .bg-inverse &,
    .bg-success &,
    .bg-info &,
    .bg-danger & {
        color: #fff;
    }
}

// Messages

.list-messages {
    .list-row {
        margin-bottom: 2px;
    }
}

.message-author {
    font-weight: 600;

    .status-unread & {
        color: $brand-primary;
    }

    .status-read & {
    }

    .bg-primary &,
    .bg-secondary &,
    .bg-inverse &,
    .bg-success &,
    .bg-info &,
    .bg-danger & {
        color: #fff;
    }
}

.message-subject {
    font-size: $font-size-small;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);

    .bg-primary &,
    .bg-secondary &,
    .bg-inverse &,
    .bg-success &,
    .bg-info &,
    .bg-danger & {
        font-weight: 500;
        color: rgba(255, 255, 255, 0.8);
    }
}

.message-date {
    font-size: $font-size-xsmall;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);

    @media (min-width: $screen-xs) {
        text-align: right;
    }

    @media (min-width: $screen-sm) {
        font-size: $font-size-small;
    }

    .bg-primary &,
    .bg-secondary &,
    .bg-inverse &,
    .bg-success &,
    .bg-info &,
    .bg-danger & {
        color: #fff;
    }
}

// Modal choose/invite

.list-choose-participant {
    .name {
        font-weight: 600;
    }

    .email {
        font-size: $font-size-small;
        color: rgba(0, 0, 0, 0.7);
    }
}

// User card

.card-user {
    .email {
        font-size: $font-size-small;

        + .status {
            margin-top: $spacing-xsmall;
        }
    }

    .status {
        font-size: $font-size-small;
        font-weight: 700;
        display: block;
    }

    .status-accepted {
        color: $brand-success;
    }

    .status-denied {
        color: $brand-danger;
    }

    .status-pending {
        color: $brand-warning;
    }
}