figure {
    margin-bottom: 1.5rem;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        margin-bottom: 2rem;
    }
}

figcaption {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    transition: 0.2s all ease-in;

    @include media-breakpoint-up(md) {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.075);
        color: rgba(255, 255, 255, 0.8);
        padding: 10%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:hover {
        @include media-breakpoint-up(md) {
            background-color: rgba(0, 0, 0, 0.7);

            .reveal {
                opacity: 1;
            }
        }
    }

    .reveal {
        opacity: 0;
        transition: 0.2s all ease-in;
    }

    .label {
        font-family: $font-family-monospace;
        font-size: $font-size-xs;
        font-weight: 600;
        // text-transform: uppercase;
        display: inline-block;

        @include media-breakpoint-up(md) {
            font-size: $font-size-sm;
        }

        + .label {
            margin-left: $spacing-sm;
        }
    }
}
