﻿// List table
// --------------------------------------------------

.list-table {
    font-family: $font-family-sans-serif;
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    /*display: table;*/
    /*border-collapse: collapse;*/
    /*table-layout: fixed;*/
}

.list-table-lg {
    /*font-size: $font-size-lg;*/
    font-size: 1.15em;
}

.list-table-base {
    font-size: $font-size-base;
}

.list-table-sm {
    /*font-size: $font-size-sm;*/
    font-size: 0.925em;
}

.list-table-xs {
    /*font-size: $font-size-xs;*/
    font-size: 0.785em;
}

.list-table-serif {
    font-family: $font-family-serif;
}

.list-row {
    @extend .clearfix;
    /*display: table-row;*/

    display: flex;
    flex-direction: row;
    position: relative;

    .list-table-hover &:hover {
        background-color: $neutral-5;
    }

    .list-table-lines & {
        border-top: 1px solid $neutral-12;
    }

    &.list-head {
        border-top: 0;

        &:hover {
            background-color: transparent;
        }
    }

    &.col-xs {
        @include media-breakpoint-down(xs) {
            flex-direction: column;
        }
    }

    &.col-sm {
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }

    &.col-md {
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }

    &.col-lg {
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
    }

    /*&.primary {
        background-color: $brand-primary;
    }

    &.secondary {
        background-color: $brand-secondary;
    }

    &.tertiary {
        background-color: $brand-tertiary;
    }

    &.inverse {
        background-color: $brand-inverse;
    }

    &.success {
        background-color: $brand-success;
    }

    &.info {
        background-color: $brand-info;
    }

    &.warning {
        background-color: $brand-warning;
    }

    &.danger {
        background-color: $brand-danger;
    }*/
}

.list-cell {
    padding-top: $spacing-xxs;
    padding-right: $spacing-xs;
    padding-bottom: $spacing-xxs;
    padding-left: $spacing-xxs;
    /*display: table-cell;*/

    /*float: left;*/
    /*display: block;*/

    display: flex;
    flex-direction: column;



    .list-table-lg & {
        padding-top: $spacing-xs;
        padding-right: $spacing-sm;
        padding-bottom: $spacing-xs;
        padding-left: $spacing-sm;
    }

    .list-table-xs & {
        padding-top: $spacing-xxxs;
        padding-right: $spacing-xxs;
        padding-bottom: $spacing-xxxs;
        padding-left: $spacing-xxs;
    }

    .list-table-flush & {
        padding-left: 0;

        &:last-child {
            padding-right: 0;
        }
    }


    &.w90pct {
        width: 90%;
    }

    &.w80pct {
        width: 80%;
    }

    &.w70pct {
        width: 70%;
    }

    &.w60pct {
        width: 60%;
    }

    &.w50pct {
        width: 50%;
    }

    &.w40pct {
        width: 40%;
    }

    &.w33pct {
        width: 33%;
    }

    &.w30pct {
        width: 30%;
    }

    &.w25pct {
        width: 25%;
    }

    &.w20pct {
        width: 20%;
    }

    &.w15pct {
        width: 15%;
    }

    &.w10pct {
        width: 10%;
    }

    &.w5pct {
        width: 5%;
    }

    &.responsive-xs {
        @include media-breakpoint-down(xs) {
            width: auto;
        }
    }

    &.responsive-sm {
        @include media-breakpoint-down(sm) {
            width: auto;
        }
    }

    &.responsive-md {
        @include media-breakpoint-down(md) {
            width: auto;
        }
    }

    &.responsive-lg {
        @include media-breakpoint-down(lg) {
            width: auto;
        }
    }

    /*&.primary {
        background-color: $brand-primary;
    }

    &.secondary {
        background-color: $brand-secondary;
    }

    &.tertiary {
        background-color: $brand-tertiary;
    }

    &.inverse {
        background-color: $brand-inverse;
    }

    &.success {
        background-color: $brand-success;
    }

    &.info {
        background-color: $brand-info;
    }

    &.warning {
        background-color: $brand-warning;
    }

    &.danger {
        background-color: $brand-danger;
    }*/
}

.list-cell-header {
    font-weight: 600;
    font-size: 0.9em;
    color: $gray-light;
}

.list-cell-label {
    font-weight: 700;
    font-size: 0.7em;
    text-transform: uppercase;
}

.list-cell-nowrap {
    white-space: nowrap;
}

.list-cell-wrap {
    @include word-wrap;
}

.list-cell-truncate {
    @include truncate-ellipsis;
}

// Contextual colors
@include list-table-indicator-variant('.indicator-default', $neutral-12);
@include list-table-indicator-variant('.indicator-primary', $brand-primary);
@include list-table-indicator-variant('.indicator-secondary', $brand-secondary);
@include list-table-indicator-variant('.indicator-tertiary', $brand-tertiary);
@include list-table-indicator-variant('.indicator-inverse', $brand-inverse);
@include list-table-indicator-variant('.indicator-success', $brand-success);
@include list-table-indicator-variant('.indicator-info', $brand-info);
@include list-table-indicator-variant('.indicator-warning', $brand-warning);
@include list-table-indicator-variant('.indicator-danger', $brand-danger);
