// Modals
// --------------------------------------------------

// Container that the modal scrolls within
.modal {
    -webkit-overflow-scrolling: touch;

    &.fade .modal-dialog {
        transform: translate(0, 0%); // Remove default slide down.
        transition: transform 0.3s ease-out;
    }

    &.in .modal-dialog {
        transform: translate(0, 0)
    }

    &.modal-sm,
    &.modal-lg {
        width: auto; // Remove Bootstrap's sizing
    }
}

// Shell div to position the modal with bottom padding
.modal-dialog {

    @include media-breakpoint-up(xs) {
        padding: $spacing-xsmall;
    }

    @include media-breakpoint-up(sm) {
        width: 70vw;
        padding: 0;
    }

    @include media-breakpoint-up(lg) {
        width: 60vw;
    }

    @include media-breakpoint-up(xl) {
        width: 50vw;
    }

    .modal-sm & {
        @include media-breakpoint-up(sm) {
            width: 50vw;
        }

        @include media-breakpoint-up(lg) {
            width: 40vw;
        }

        @include media-breakpoint-up(xl) {
            width: 30vw;
        }
    }

    .modal-lg & {
        @include media-breakpoint-up(sm) {
            width: 80vw;
        }

        @include media-breakpoint-up(lg) {
            width: 70vw;
        }

        @include media-breakpoint-up(xl) {
            width: 60vw;
        }
    }

    .modal-xl & {
        @include media-breakpoint-up(sm) {
            width: auto;
            padding: $spacing-base;
        }
    }
}

// Actual modal
.modal-content {
    border: 0;
    border-radius: 0;
}

// Modal background
.modal-backdrop {
    background-color: $brand-inverse;

    // Fade for backdrop
    &.fade {
        opacity: 0;
    }

    &.in {
        opacity: 0.85;
    }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    @include media-breakpoint-up(sm) {
        padding: $spacing-base;
    }

    .modal-title {}
}

// Close icon
.modal-dialog .close {
    margin-top: 3px;

    &:focus {
        @include focus-default;
        @include focus-inverse;
    }

    & ~ .modal-title {
        margin-right: 30px;
    }
}

.modal-body {
    @include media-breakpoint-up(sm) {
        padding: $spacing-base;
    }
}

.modal-footer {
    text-align: left;

    @include media-breakpoint-up(sm) {
        padding: $spacing-base;
    }

    .btn,
    .btn + .btn {
        margin: 0 0 5px;

        @include media-breakpoint-up(sm) {
            margin: 0;
        }
    }
}

// Modal background color variations
.modal-brand-primary.in {
    &~.modal-backdrop {
        background-color: $brand-primary;
        opacity: 0.8;
    }
}

.modal-brand-secondary.in {
    &~.modal-backdrop {
        background-color: $brand-secondary;
        opacity: 0.8;
    }
}

.modal-brand-inverse.in {
    &~.modal-backdrop {
        background-color: $brand-inverse;
        opacity: 0.9;
    }
}
