// Nav main
// --------------------------------------------------

.nav-main {
    float: right;

    a {
        font-family: $font-family-sans-serif;
        font-size: $font-size-xs;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #fff;
        margin-right: $spacing-xs;
        display: block;
        float: left;

        @include media-breakpoint-up(sm) {
            font-size: $font-size-xxs;
        }

        @include media-breakpoint-up(md) {
            font-size: $font-size-xxxs;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
